.container {
  margin-top: 20vh;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.bracket {
  color: #49ff92;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headingBorder {
  width: 300px;
  height: 8px;

  background: rgba(196, 196, 196, 0.29);
}
