html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  background: #000000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: scrollColor;
  border-radius: "25px";
}
