.root {
  margin-top: 20vh;
}

.image {
  width: 60vh;
  height: 50vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.heading {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
}

.bracket {
  color: #49ff92;
}
